/* your custom css */
.blockContent a,
.post a {
  text-decoration: underline;
}

.blockContent h2 a {
  text-decoration: none;
}

article h2 {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid rgba(0, 0, 0, .3);
}

.blockContent>div {
  width: 400px;
  max-width: 100%;
  margin: auto;
}

.button {
  border-radius: 50px;
  border: 2px solid #5e5a6b;
  padding-left: 20px;
  padding-right: 20px;
}

.button:hover {
  background: #5e5a6b;
}

.buttonWrapper {
  margin: 0 10px;
}

.post-content h3 {
  margin-top: 5px;
}

.mainContainer .wrapper .posts .postHeader {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainContainer .wrapper .post .postHeader .post-meta {
  opacity: .5;
}

.mainContainer .wrapper .post .postHeader .authorBlock {
  display: none;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .pluginRowBlock {
    flex-direction: column;
  }

  .buttonWrapper {
    margin: 10px 0;
  }
}

@media only screen and (min-width: 1024px) {}

@media only screen and (max-width: 1023px) {}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1500px) {}



input {
  width: 300px;
  padding: 8px 12px;
}

#fbac,
#fbac2 {
  width: 700px;
  background-color: rgba(50, 205, 50, 0.6);
  font-family: sans-serif;
  font-size: 13px;
  display: none;
}

#fbac.fbac__active,
#fbac2.fbac__active {
  display: block;
}

.fbac__global-header {
  padding: 15px 20px 15px;
  border: 1px solid #0e550e;
}

.fbac__global-footer {
  padding: 15px 20px 15px;
  border: 1px solid #0e550e;
}

.fbac__all-results {
  display: flex;
}

.fbac__autocomplete,
.fbac__concierge {
  flex: 1 0;
}

.fbac__header,
.fbac__footer {
  background-color: rgb(152, 255, 152);
  padding: 10px 20px 10px;
  flex: 1 0;
  border: 1px solid #228b22;
}

.fbac__header {
  border-bottom: 2px solid #228b22;
}

.fbac__footer {
  border-top: 2px solid #228b22;
}

.fbac__footers,
.fbac__headers {
  display: flex;
}

.fbac__autocomplete,
.fbac__concierge {
  background-color: rgb(222, 243, 222);
}

.fbac__all-results>div:first-child {
  border-left: 1px solid #228b22;
}

.fbac__concierge {
  border-right: 1px solid #228b22;
}

.fbac__concierge--no-border {
  border-right: none;
}

.fbac__concierge .fbac__result {
  padding: 5px 20px;
  border-bottom: 1px solid #228b22;
}

.fbac__concierge .fbac__no-result {
  padding: 5px 20px;
}

.fbac__concierge .fbac__result:last-child {
  border-bottom: none;
}

.fbac__autocomplete .fbac__result {
  padding: 5px 20px;
  border-bottom: 1px solid #228b22;
}

.fbac__autocomplete .fbac__no-result {
  padding: 5px 20px;
}

.fbac__autocomplete .fbac__result:last-child {
  border-bottom: none;
}

.fbac__result {
  cursor: pointer;
  display: block;
}

.fbac__no-results {
  padding: 15px 20px 15px;
  border: 1px solid #0e550e;
}

.fbac__category {
  text-transform: uppercase;
  font-size: 10px;
  color: #333;
  margin-top: 5px;
}

.fbac__divider {
  width: 2px;
  height: auto;
  background-color: #228b22;
}

a,
a:visited {
  color: rgb(2, 49, 2);
}

.fbac__loader--wrapper {
  width: 700px;
  height: 100px;
  text-align: center;
  padding-top: 10px;
}

.fbac__loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.fbac__loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s linear infinite;
}

.fbac__focus {
  background-color: red;
}

.fbac__hover {
  background-color: violet;
}

form {
  margin-top: 10px;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}